/*footer*/
footer {
  width: 100%;
  background-color: #202020;
  padding: 30px 0 ;
  font-family: 'Istok Web', sans-serif;
}
.caixa-footer {
  width: 89%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-flow: row wrap;

}
.links-footer{
 align-items: center; 
}

.links-footer nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;

}
.links-footer nav ul li{
  font-weight: 700;
  font-size: 24px;
  padding: 0 10px 0 0;
  list-style-type: none;
}
.links-footer nav ul li a{
  text-decoration: none;
  color: #FFFFFF;
}
.links-footer nav ul li a:hover{
  color: #557373;
}
.copyright {
  color: #d4c7c7;
  font-size: 15px;
  margin: 20px 0;   
}
.segundo-container-footer{
  display: flex;
  align-items: center;
}
.redes-sociais{
  margin: 10;
  padding: 0 40px 0 0;
}
.redes-sociais ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0  0 0;
}
.redes-sociais ul li{
  padding: 0 15px 0 0;
  list-style-type: none;
}
.img-redes-sociais{
  width: 35px;
}


.img-ytb:hover {
  content: url("../public/images/youtube-icon-hover.png");
}
.img-github:hover {
  content: url("../public/images/github-icon-hover.png");
}



.equipe-de-dev p{
  font-size: 13px;
  font-weight: 600;
  
}
.img-equipe-de-dev{
  width: 100px;
  padding: 10px 0 0 0;
}
